@keyframes fadeinagain {
  0% {
    opacity: 0;
    /* to set it to invisible at first */
    /* transform: translateX(-10rem); */
    /* to start it from 100px left of its actual positon */
  }

  80% {
    /* transform: translateX(1rem); */
    /* to move it a bit to the right before it goes back to its actual position at 100% */
  }

  100% {
    opacity: 1;
    /* to set it back to visible */
    /* transform: translate(0); */
    /* to move it back to its actual position */
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    /* to set it to invisible at first */
    /* transform: translateX(-10rem); */
    /* to start it from 100px left of its actual positon */
  }

  80% {
    /* transform: translateX(1rem); */
    /* to move it a bit to the right before it goes back to its actual position at 100% */
  }

  100% {
    opacity: 1;
    /* to set it back to visible */
    /* transform: translate(0); */
    /* to move it back to its actual position */
  }
}

@keyframes sizeincdown {
  0% {
    /* to set it to invisible at first */
    transform: translateY(-1.3rem);
    /* to start it from 100px left of its actual positon */
  }

  50% {
    /* transform: translateY(-0.5rem); */
    /* to move it a bit to the right before it goes back to its actual position at 100% */
  }

  100% {
    opacity: 1;
    /* to set it back to visible */
    transform: translateY(0);
    /* to move it back to its actual position */
  }
}

@keyframes sizeincup {
  0% {
    /* to set it to invisible at first */
    transform: translateY(0.3rem);
    /* to start it from 100px left of its actual positon */
  }

  50% {
    /* transform: translateY(-0.5rem); */
    /* to move it a bit to the right before it goes back to its actual position at 100% */
  }

  100% {
    opacity: 1;
    /* to set it back to visible */
    transform: translateY(0);
    /* to move it back to its actual position */
  }
}

@keyframes sizeincreaseleft {
  0% {
    /* to set it to invisible at first */
    width: 95%;
    /* to start it from 100px left of its actual positon */
  }

  50% {
    /* transform: translateY(-0.5rem); */
    /* to move it a bit to the right before it goes back to its actual position at 100% */
  }

  100% {
    /* to set it back to visible */
    width: 100%;
    /* to move it back to its actual position */
  }
}

.fadeinreally {
  animation: fadein 1.3s ease-out;
}

.increasesizereally {
  animation: sizeincdown 0.46s ease;
}

.sizeup {
  animation: sizeincup 0.31s ease-out;
}

.animatesizeincleft {
  animation: sizeincreaseleft 0.3s ease-out;
}

.test {
  min-zoom: 0;
}

.fadeinlol {
  animation: fadeinagain 1.32s ease-out;
}

/* .fadeout {
  opacity: 0;
  transition: opacity 1s ease;
} */
